.form {
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    left: calc(100%/2 - (250px/2));
    top: 33.3%;
}

.title {
    margin: 0 0 20px;
}

label {
    margin: 0 0 10px;
    font-size: 14px;
}

label input {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}

label input:focus,
label.filled input {
    border: 1.5px solid #000;
}

label.error input {
    border: 1.5px solid #ff0000; 
}
label.error span {
    color: #ff0000;
}

#password {
    margin: 0 0 20px;
}

.button {
    width: 100%;
    text-align: center;
    padding: 5px;
    border: 1px solid grey;
    color: #fff;
    background-color: rgba(60, 60, 255, 0.774);
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
   background-color: rgb(60, 60, 255); 
}

.button.disabled {
    color: #000;
    background-color: #e4e4e4;
    cursor: default;
    pointer-events: none;
}